body {
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  color: hsl(179, 84%, 22%);
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  line-height: 30px;
}

li:first-letter{
text-transform: capitalize;
}
footer {
  position: relative;
  text-align: center;
  bottom: 40px;
  font-size: smaller;
}

.btn {
  background: hsl(179, 84%, 22%);
  border: none;
  color: aquamarine;
  text-align: center;
  box-shadow: 0px 0px 2px 2px;
}
.btn:hover {
  background-color: #10ede5;
  transition: 0.7s;
}

.weatherDay {
  width: 40px;
  margin: 10px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.weatherForecast {
  color: hsl(179, 84%, 22%);
  font-size: 15px;
  font-weight: 350;
  line-height: 50px;
  margin: 10px;
  padding: 30px;
}

.temperature-container {
  color: hsl(179, 84%, 22%);
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 80px;
  padding: 30px;
}
